.topic-body {
  padding-top: 1.5em;
}

.topic-avatar {
  padding-top: 1.8em;
}

.nav-pills > li > a {
  padding: 8px 12px;
}

.badge-notification.new-topic::before {
  font-size: 1.5em;
}

.user-right .list-actions .btn {
  display: none;
}
